@model NewsApplications.ViewModel.ListPosts

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width" />
    <title>News</title>
</head>
<body>
    <div>
        <h1>List posts</h1>

        <ul>
            @foreach (var item in Model.listPosts)
            {
                <li>[@item.source] <a href="@item.link" target="_blank">@item.text</a>@if (item.viewcount != 0)
                {<span>(views: @item.viewcount)</span>}</li>
            }
        </ul>
    </div>
</body>
</html>
